.reclinerSeat {
    background: #BFDBF7;
    display: inline-block;
    max-width: 175px;
    height: 125px;
    width: 15%;
    /*border-radius: 10%;*/
    border-radius: 20px 20px 90px 90px;
    -moz-border-radius: 20px 20px 90px 90px;
    -webkit-border-radius: 20px 20px 90px 90px;
    font-size: 200%;
}

.regularSeat {
    background: #BFDBF7;
    width: 12.2%;
    max-width: 150px;
    height: 100px;
    display: inline-block;
    border-radius: 10%;
    font-size: 200%;
}

.row {
    text-align: center;
    padding: 10px;
}

.aisleLine1 {
    background-color: grey;
    width: 80%;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.aisleLine2 {
    background-color: grey;
    width: 80%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.hover {
    /*background-color: #3F0B46;*/
    opacity: 0.4;
}

.selectedSeat {
    background-color: #90323D;
}

.reservedSeat {
    background-color: #053C5E;
}

.pStyling2 {
    visibility: hidden;
}

.pStyling {
    visibility: visible;
}

body {
  font-family: 'Lobster Two', cursive;
  color: #A4ABB2;

background: linear-gradient(43deg, #717a75, #2597ae, #6b888e, #2597ae);
background-size: 800% 800%;

-webkit-animation: AnimationName 21s ease infinite;
-moz-animation: AnimationName 21s ease infinite;
-o-animation: AnimationName 21s ease infinite;
animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}
@keyframes AnimationName {
  0%{background-position:94% 0%}
  50%{background-position:7% 100%}
  100%{background-position:94% 0%}
}

.theaterScreen {
   max-width: 100%;
   height: 45px;
   background-color: silver;
   -webkit-box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
   -moz-box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
   box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
   border-radius: 90px 90px 0 0;
   -moz-border-radius: 90px 90px 0 0;
   -webkit-border-radius: 90px 90px 0 0;
   margin-bottom: 30px;
   margin-top: 10px;
}

#marquee {
    font-family: 'Bungee Shade', cursive;
    /*border-style: dotted;*/
    font-size: 50px;
    color: #000000;
}

.seatLegend {
    list-style: none;
    padding: 10px;
}

.seatLegend li {
    margin-right: 10px;
    display: inline-block;
}

.seatLegend span {
    border: 1px solid black;
    float: left;
    width: 15px;
    height: 15px;
    margin: 2px;
}

.seatLegend .openLegend {
    background-color: #BFDBF7;

}

.seatLegend .selectLegend {
    background-color: #90323D;
}

.seatLegend .reserveLegend {
    background-color: #053C5E;
}

.seatLegend .luxuryLegend {
    background-color: #BFDBF7;
    width: 20px;
    height: 20px;
    border-radius: 5px 5px 10px 10px;
    -moz-border-radius: 5px 5px 10px 10px;
    -webkit-border-radius: 5px 5px 10px 10px;
}

.seatLegend .standardLegend {
  border: 1px solid black;
  background-color: #BFDBF7;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 20%;
}
/*button {
  margin-left: 250px;
  margin-right: 350px;
  margin-top: 50px;
  width: 100%;
  height: 50%;
  background: #bfdbf7;
  border: solid;
  color: black;
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 45px;
  font-weight: 70;
}*/

.buttonColor {
  background-color: #053C5E;
  color: white;
}
