.reclinerSeat {
    background: silver;
    display: inline-block;
    max-width: 175px;
    height: 125px;
    width: 15%;
    /*border-radius: 10%;*/
    border-radius: 20px 20px 90px 90px;
    -moz-border-radius: 20px 20px 90px 90px;
    -webkit-border-radius: 20px 20px 90px 90px;
    font-size: 200%;
}

.regularSeat {
    background: silver;
    width: 12.2%;
    max-width: 150px;
    height: 100px;
    display: inline-block;
    border-radius: 10%;
    font-size: 200%;
}

.row {
    text-align: center;
    padding: 10px;
}

.aisleLine1 {
    background-color: grey;
    width: 80%;
    height: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.aisleLine2 {
    background-color: grey;
    width: 80%;
    height: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
}



.hover {
    /*background-color: #3F0B46;*/
    opacity: 0.4;
}

.selectedSeat {
    background-color: #8F3F99;
}

.reservedSeat {
    background-color: #3F0B46;
}

.pStyling2 {
    visibility: hidden;
}

.pStyling {
    visibility: visible;
}




body {
    background-color: #A2A0A2;
    background-repeat: no-repeat;
}

.theaterScreen {
    max-width: 100%;
    height: 45px;
    background-image: -webkit-linear-gradient(top, #47325c, #cbc8c6, #f2f2f2);
    background-image: -moz-linear-gradient(top, #47325c, #cbc8c6, #f2f2f2);
    background-image: linear-gradient(to bottom, #47325c, #cbc8c6, #f2f2f2);
    -webkit-box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
    box-shadow: 9px -5px 8px 6px rgba(0, 0, 0, 0.68);
    border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -webkit-border-radius: 90px 90px 0 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

#marquee {
    font-family: 'Bungee Shade', cursive;
    /*border-style: dotted;*/
    font-size: 50px;
    color: #000000;
}

.seatLegend {
    list-style: none;
}

.seatLegend li {
    float: left;
    margin-right: 10px;
}

.seatLegend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

.seatLegend .openLegend {
    background-color: silver;
}

.seatLegend .selectLegend {
    background-color: #8F3F99;
}

.seatLegend .reserveLegend {
    background-color: #3F0B46;
}

/*button {
  margin-left: 250px;
  margin-right: 350px;
  margin-top: 50px;
  width: 100%;
  height: 50%;
  background: #bfdbf7;
  border: solid;
  color: black;
  font-family: 'IM Fell Double Pica SC', serif;
  font-size: 45px;
  font-weight: 70;
}*/



/*body {
background: linear-gradient(31deg, #bc2c1a, #1f7a8c, #bc2c1a, #1f7a8c);
background-size: 800% 800%;

-webkit-animation: TheaterBackground 4s ease infinite;
-moz-animation: TheaterBackground 4s ease infinite;
-o-animation: TheaterBackground 4s ease infinite;
animation: TheaterBackground 4s ease infinite;

@-webkit-keyframes TheaterBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes TheaterBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes TheaterBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes TheaterBackground {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}*/
